.site-header {
    background-color: aqua;
    color: rgb(22, 14, 1);
    height: 100vh;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header-content {
    margin: 10px;
}
.profile-pic {
    border-radius: 50%; 
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: darkmagenta 2px 5px 5px;
}
.insta-link {
    color: slateblue;
    font-size: x-large;
    font-family: cursive;

}
body {
    margin: 0%;
}